/*
* El cuerpo de la calculadora
*/
main{
    display:block;
    padding:25px;
    background-color:darkslategrey;
    font: 400 15px Verdana, sans-serif;
    width:280px;
    height:290px;
    border-radius: 25px;
  }
  /*
  La pantalla de la calculadora
  */
  input[type=text] {
    width: 72%;
    padding: 12px 34px;
    font-size: 18px;
    margin: 6px 0;
    border-radius: 10px;
    text-align: left;
    color: #222;
    background: white;
}
/*
Botones de la calculadora
*/
input[type=button] {
    background-color:lightslategrey;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 18px;
    min-width: 22%;
    border-radius: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#numeric{
    background-color: lightslategrey;
    color:white;
}