
h1{
    color: #7e122f;
    text-transform: uppercase;
}
body {
    background-color: #f6f6f6;	
  }


main{
    /* position: absolute;
    top: 0;
    bottom: 0;
    width: 100%; */
    width: 40em; 
    height: 30em;
  }