body{    
    background-color: white;
}
h1 {
    color:darkred;
	text-align: center;
}
h2 {
    color:darkmagenta;
	text-align: center;
}
h3 {
    color:darkgoldenrod;
	text-align: center;
}
h4 {
    color:darkgreen;
	text-align: center;
}
p {
    color:darkblue;
	text-align: center;
}
