/* h1,h2 {
    color: #7e122f;
    text-transform: uppercase;    
}


body {
    font-family: "Times New Roman", Times, serif;
    line-height: 1.8;
    color: #981D3E;
    background-color: #f6f6f6;
	background-size: cover;
  } */

body { 
    margin:0; 
    padding:0; 
}

/* Cambiar por otro selector y tamaño fijo */
main { 
    /* position:absolute; 
    top:0; 
    bottom:0;
    width:100%;  */
    width: 400px; 
    height: 300px;
}