body{
    font: 400 15px Tahoma, sans-serif;
    background-color: white;
}
h1 {
    color:darkred;
	text-align: center;
}
h2 {
    color:darkorange;
	text-align: center;
}
h3 {
    color:darkgoldenrod;
	text-align: center;
}
h4 {
    color:darkgreen;
	text-align: center;
}
p {
    color:darkblue;
	text-align: center;
}
footer{
	text-align:center;
}
