/*
* El cuerpo de la calculadora
*/
body {   
    
    width:100%;
    max-width: 600px;    
    align-self: center;
  }
  

form {        
    display: grid;  
    /*grid-template-columns: 25% 25% 25% 25%;*/
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
    background-color: #fff;
    color: #444;
    
    /* Que no se haga muy grande */
    max-width: 600px;  
    min-width: 280px;

    /*Esto es para que parezca una calculadora */
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
    background-color: #909497;
    border-radius: 25px;
  }
  
  
input[type=button] {
    background-color: #444;
    color: #fff;
    font-size: 150%;
  }
form > textarea {
      color: green;
      text-align: center;
      font-size: 200%;
      grid-column-start: 1;
      grid-column-end: 5;
  }
  h1 {
    text-align: center;    
}