/*
* El cuerpo de la calculadora
*/
body {
  
    display:grid;
    grid-gap: 2%;
    grid-template-areas:  "display"    
                          "buttons"
                          "buttons";
    max-width: 800px;
    align-self: center;
  }
  
  form {
    grid-area: buttons;
    display: grid;  
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 2%;
    background-color: #fff;
    color: #444;
  }
  
  
  input[type=button] {
    background-color: #444;
    color: #fff;
    font-size: 150%;
  }
  input[type=text] {
      grid-area: display;
      color: green;
      text-align: center;
  }
  h1 {
      text-align: center;    
  }